<div class="container" *ngIf="checkSessionCookie(); else noSessionMessage"> 
    <h1 class="text-center mt-5">Jugar</h1>
    
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <a href="#" class="game-link" routerLink="/imagesgame">
          <img src="./assets/images/imagenesgame.jpg" alt="Juego 1" class="game-image game-image-available">
          <p class="game-name">guess gameplay</p>
        </a>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <a href="#" class="game-link" onclick="return false;" >
          <img src="./assets/images/titlegame.png" alt="Juego 2" class="game-image">
          <p class="game-name">guess title(proximamente)</p>
        </a>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <a href="#" class="game-link" onclick="return false;">
          <img src="./assets/images/musicgame.png" alt="Juego 3" class="game-image">
          <p class="game-name">guess music(proximamente)</p>
        </a>
      </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
        </div>
      </div>
  </div>

  <ng-template #noSessionMessage>
    <div class="overlay">
      <div >
        <p class="message">Antes de jugar debes iniciar sesión</p>
      </div>
    </div>
  </ng-template>
  