<div class="container" *ngIf="checkSessionCookie(); else noSessionMessage"> 
  <h1 class="text-center mt-5">Jugar</h1>
  
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <a href="#" class="game-link" routerLink="/imagesgame">
        <img src="./assets/images/imagenesgame.jpg" alt="Juego 1" class="game-image game-image-available">
        <p class="game-name">Guess Gameplay</p>
      </a>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center">
      <a href="#" class="game-link" onclick="return false;">
        <img src="./assets/images/titlegame.png" alt="Juego 2" class="game-image">
        <p class="game-name">Guess Title (Próximamente)</p>
      </a>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center">
      <a href="#" class="game-link" onclick="return false;">
        <img src="./assets/images/musicgame.png" alt="Juego 3" class="game-image">
        <p class="game-name">Guess Music (Próximamente)</p>
      </a>
    </div>
  </div>

  <div class="row mt-5">
      <div class="col text-center">
      </div>
    </div>
</div>

<ng-template #noSessionMessage>
  <div class="overlay">
    <div class="modal-content">
      <p>Antes de jugar debes iniciar sesión</p>
      <button class="btn btn-primary" routerLink="/principal">Iniciar sesión</button>
    </div>
  </div>
</ng-template>
