h1 {
  margin-top: 30px;
}

.carousel {
  margin-top: 50px;
}

input {
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.puntuacion {
  font-size: 24px;
  margin-top: 10px;
}

.point-increase {
  font-size: 1.5em;
  color: green;
  display: inline-block;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.point-increase.active {
  transform: translateY(0);
  opacity: 1;
}

.carousel-navigation {
  margin-top: 10px;
  text-align: center;
}

.carousel-navigation-button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.carousel-navigation-button.active {
  background-color: #007bff;
  color: white;
}

.form-control {
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 10px;
  margin-right: 10px;
}

.row > .col.text-center {
  margin-top: 10px;
}

.row > .col.text-center > p {
  font-size: 18px;
}

.juegos-desplegable {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.juegos-desplegable li {
  padding: 8px 16px;
  cursor: pointer;
}

.juegos-desplegable li:hover {
  background-color: #f5f5f5;
}

.juego-imagen {
  width: 100%;
  height: 500px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover; /* Esto asegura que la imagen cubra el área sin deformarse */
  border: 5px solid #007bff; /* Añade un borde azul */
  border-radius: 10px; /* Bordes redondeados */
}

.vida-imagen {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.mensaje-incorrecto {
  font-size: 18px;
  color: red;
  animation: blink 1s step-end infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.mensaje-perdida {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.mensaje-perdida p {
  font-size: 24px;
}

.mensaje-perdida button {
  margin-top: 10px;
  background-color: #fff;
  color: #ff0000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mensaje-perdida button:hover {
  background-color: #f8d7da;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
