<div class="container">
  <h1 class="text-center">{{ titulo }}</h1>
  <div class="puntuacion text-center">
    PUNTOS: <span>{{ puntos }}</span>
    <span class="point-increase" *ngIf="puntosGanados > 0">+{{ puntosGanados }}</span>
  </div>
  <div class="vidas text-center mt-3">
    <img *ngFor="let vida of vidasImagenes" [src]="vida" class="vida-imagen">
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" [class.active]="vidas <= 5">
            <img [src]="nombresJuegos[numeroAleatorio].imagenes[0]" class="d-block w-100 juego-imagen" alt="Imagen 1">
          </div>
          <div class="carousel-item" *ngIf="vidas <= 4">
            <img [src]="nombresJuegos[numeroAleatorio].imagenes[1]" class="d-block w-100 juego-imagen" alt="Imagen 2">
          </div>
          <div class="carousel-item" *ngIf="vidas <= 3">
            <img [src]="nombresJuegos[numeroAleatorio].imagenes[2]" class="d-block w-100 juego-imagen" alt="Imagen 3">
          </div>
          <div class="carousel-item" *ngIf="vidas <= 2">
            <img [src]="nombresJuegos[numeroAleatorio].imagenes[3]" class="d-block w-100 juego-imagen" alt="Imagen 4">
          </div>
          <div class="carousel-item" *ngIf="vidas <= 1">
            <img [src]="nombresJuegos[numeroAleatorio].imagenes[4]" class="d-block w-100 juego-imagen" alt="Imagen 5">
          </div>
        </div>
        <div class="carousel-navigation">
          <button class="carousel-navigation-button" [class.active]="vidas <= 5" (click)="goToSlide(0)">1</button>
          <button class="carousel-navigation-button" *ngIf="vidas <= 4" (click)="goToSlide(1)">2</button>
          <button class="carousel-navigation-button" *ngIf="vidas <= 3" (click)="goToSlide(2)">3</button>
          <button class="carousel-navigation-button" *ngIf="vidas <= 2" (click)="goToSlide(3)">4</button>
          <button class="carousel-navigation-button" *ngIf="vidas <= 1" (click)="goToSlide(4)">5</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <form>
        <input type="text" class="form-control" [(ngModel)]="respuesta" [formControl]="juegoControl" name="palabraClave" placeholder="Ingresa la palabra clave" required autocomplete="off">
        <ul class="juegos-desplegable" *ngIf="juegoControl.value">
          <li *ngFor="let juego of juegosFiltrados | async" (click)="seleccionarJuego(juego)">{{ juego }}</li>
          <li *ngIf="(juegosFiltrados | async)?.length === 0">No hay resultados</li>
        </ul>
      </form>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary" [disabled]="vidas === 0 || mensajeResultado" (click)="enviarRespuesta()">Enviar</button>
      <button class="btn btn-primary" [disabled]="!mensajeResultado" (click)="seleccionarPalabraSecreta()">Continuar</button>
      <button class="btn btn-primary" [disabled]="vidas !== 0" (click)="reiniciar()">Jugar de nuevo</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <p *ngIf="mensajePerderVida" class="mensaje-incorrecto">{{ mensajePerderVida }}</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <p *ngIf="mensajeResultado">{{ mensajeResultado }}</p>
    </div>
  </div>
  <div class="mensaje-perdida" *ngIf="mensajePerder">
    <p>{{ mensajePerder }}</p>
    <div>
      <button class="btn btn-primary" (click)="reiniciar()">Jugar de nuevo</button>
      <button class="btn btn-primary" routerLink="/principal">Ir a página principal</button>
      <button class="btn btn-primary" routerLink="/ranking">Ir al ranking</button>
    </div>
  </div>
</div>
