<table class="table table-success table-striped table-hover">
    <thead>
      <th>id</th>
      <th>Nombre</th>
      <th>email</th>
      <th>password</th>
      <th>admin</th>
    </thead>
    <tbody>
      <tr *ngFor="let uno of usuarios">
        <td>{{ uno.id }}</td>
        <td>{{ uno.nombre }}</td>
        <td>{{ uno.email }}</td>
        <td>{{ uno.clave }}</td>
        <td>{{ uno.admin }}</td>
      </tr>
    </tbody>
  </table>


  <table class="table table-success table-striped table-hover">
    <thead>
      <th>id</th>
      <th>Nombre</th>
      <th>fecha</th>
      <th>nota</th>
      <th>companion</th>
      <th>nivel</th>
      <th>generos</th>
      <th>plataformas</th>
      <th>musica</th>
      <th>imagenes</th>
    </thead>
    <tbody>
      <tr *ngFor="let uno of juegos">
        <td>{{ uno.id }}</td>
        <td>{{ uno.nombre }}</td>
        <td>{{ uno.fecha }}</td>
        <td>{{ uno.nota }}</td>
        <td>{{ uno.companion }}</td>
        <td>{{ uno.nivel }}</td>
        <td>{{ uno.generos }}</td>
        <td>{{ uno.plataformas }}</td>
        <td>{{ uno.musica }}</td>
        <td>{{ uno.imagenes }}</td>
      </tr>
    </tbody>
  </table>

  


