<div class="container my-5" *ngIf="checkSessionCookie(); else noSessionMessage">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <img src="./assets/images/logo.png" alt="Logo de la página" class="img-fluid d-block mx-auto mb-4">
      <form (ngSubmit)="entradalogin()" [formGroup]="newloginForm" *ngIf="!isLoggedIn">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" formControlName="nombre" id="username" name="nombre" placeholder="Introduce tu nombre de usuario">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" formControlName="clave" class="form-control" id="password" name="clave" placeholder="Introduce tu contraseña">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" [disabled]="newloginForm.invalid">Entrar</button>
          <button type="button" class="btn btn-link" routerLink="/newlog">Crear usuario</button>
        </div>
      </form>
    </div>
  </div>
  <div class="error" *ngIf="fallo">
    Nombre de usuario o contraseña no válidos
  </div>
  <div *ngIf="isLoggedIn">
    <p #welcomeMessageElement id="welcomeMessage">{{ bienvenida }}</p>
    <a *ngIf="checkadmin()" routerLink="/admin" class="btn btn-primary" id="adminButton">ADMINISTRAR</a>
  </div>
</div>

<ng-template #noSessionMessage>
  <div class="cookies-overlay" [class.fade-out]="fadeOut">
    <div class="cookies-container" [class.slide-out]="slideOut">
      <p class="cookies-message">Este sitio web utiliza cookies. Al continuar navegando, aceptas nuestra política de cookies.</p>
      <div class="cookies-buttons">
        <button class="btn btn-primary" (click)="aceptarPoliticaCookies()">Aceptar</button>
        <button class="btn btn-secondary" (click)="rechazarPoliticaCookies()">Rechazar</button>
      </div>
    </div>
  </div>
</ng-template>
